# Salin file ini menjadi .env dan isi nilainya
# Jangan pernah commit file .env ke GitHub!

SUPABASE_PROJECT_ID="isi-project-id-anda"
SUPABASE_PUBLISHABLE_KEY="isi-publishable-key-anda"
SUPABASE_URL="https://isi-project-id-anda.supabase.co"
VITE_SUPABASE_PROJECT_ID="isi-project-id-anda"
VITE_SUPABASE_PUBLISHABLE_KEY="isi-publishable-key-anda"
VITE_SUPABASE_URL="https://isi-project-id-anda.supabase.co"
